<div class="main">
  <h1 class="logo">VsMe Gaming</h1>

  <%= form_for @subscription do |f| %>
    <%= f.label :email, "Enter an email address" %>
    <%= f.text_field :email %>

    <%= f.submit "Submit", class: "btn" %>
  <% end %>
</div>
