body {
  background-color: #e1713b;
}

.main {
  width: 600px;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
  background-image: url("iphonegame.png");
  background-position: center;
  background-position-y: 180px;
  background-repeat: no-repeat;
  background-size: 600px 460px;
}

.logo{
  text-indent:-9999px;
  background-image: url("logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px 200px;
  height:200px;
}

.email {
  width: 300px;
  font-size: 20px;
  margin-top: 20px;
}

.tag-line {
  text-align: right;
  margin-top: 285px;
  margin-right: 60px;
  font-size: 22px;
  color: #fff;
}

h1 {
  font-family: arial;
  font-size: 86px;
  color: #ffffff;
  margin: 0px
}

h4 {
  font-family: arial;
  font-size: 36px;
  color: #ffffff;
  margin: 0px;
}

p {
  font-family: arial;
  //color: #b3b3b3;
  margin: 10px;
}
