.main {
  width: 500px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

.logo{
  text-indent:-9999px;
  background-image: url("logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px 200px;
  height:200px;
  width:500px;
}

.email {
  width: 300px;
  font-size: 20px;
}

// Button styles

.btn {
  @include box-sizing(border-box);
  @include clearfix;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: em(10) em(20) em(8);
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  color: white;
  cursor: pointer;
  background-color: $button-primary;
  border-radius: 2px;
  border: none;
  border-bottom: 3px solid shade($button-primary, 20%);
  -webkit-appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: white;
    background-color: shade($button-primary, 10%);
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
    color: #fff;
    background-color: tint($button-primary, 60%);
    border-bottom-color: tint($button-primary, 40%);

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: tint($button-primary, 60%);
      border-bottom-color: tint($button-primary, 40%);
    }
  }
}

.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// Button modifiers

.btn--secondary {
  background-color: $button-secondary;
  border-bottom-color: shade($button-secondary, 20%);

  &:hover,
  &:focus,
  &:active {
    background-color: shade($button-secondary, 10%);
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
    color: #fff;
    background-color: tint($button-secondary, 60%);
    border-bottom-color: tint($button-secondary, 40%);

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: tint($button-secondary, 60%);
      border-bottom-color: tint($button-secondary, 40%);
    }
  }
}

.btn--large {
  padding: em(20, 18) em(22, 18);
  font-size: em(18);
}

.btn--small {
  font-size: em(14);
}

.button--link {
  border: 0;
  padding: 0;
  margin: 0;
  color: $primary-color;
  text-decoration: none;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;

  &:hover,
  &:focus {
    color: darken($primary-color, 10%);
  }
}

.button-group {
  margin: 15px 0;
}
